 /*paleta de colores
#0064A9 azul
#4DB8FF celeste
#0099FF celeste oscuro
#265C80 azul oscuro
#007ACC azul claro
#0D0D0D negro
#BF0426 rojo
#E8E0E0 gris
*/
// partials
@import "generales/variables";
@import "generales/mixin";
@import "generales/header";
@import "generales/main";
@import "generales/padre";
@import "generales/item";
@import "generales/content";
@import "generales/contenedorGr";
@import "generales/cards";
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
    background-color: #E8E0E0;
}











    





    .presentacion {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #0D0D0D;
        padding: 10px 0px;
        p {
            font-size: 1.5rem;        
        }
        img {
            height: 300px;
            width: auto;
        }
    }

    
    .form input {
        display: block;
        width: 600px;
        margin: 10px 0px 10px;
        padding: 10px;
    }


.perfil{
    display: flex;
    justify-content: center;
    p{
        margin: 30px 200px 30px 200px;
    }
    img {
        width: 300px;
        height: auto;
        border-radius: 50%;
    }
}
.perfilTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin: 20px 200px;
    }
    }


.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        display: flex;
        flex-direction: row;
        justify-items: center;
        height: 300px;
        
    }
}



.iframe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    p{
        margin-top: 10px;
    }
}


#mensaje {
    display: block;
    width: 600px;
    margin: 10px 0px 10px;
    padding: 10px;
}

#btnform {
    width: 600px;
    height: auto;
    display: inline;
    background-color: #4DB8FF;
    border: none;
    &:hover {
        background-color: #c6c8c9;
    }
}

footer {
    background-color: $azulClaro;
    padding: 20px;
    color: #0D0D0D;
    text-align: center;
    img {
        width: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
}


.btn-wp {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 50px;
    right: 30px;
}
/*media query para movil*/
@media only screen and (max-width: 480px){
    header{
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        .logo_tipo{
            margin: 0px;
        }
        .link_logo {
            margin: 0px;
        }
        nav{
            margin: 0px;
        }
    }
   
    .padre{
        display: flex;
        flex-direction: column;
    }
    .card_1{
        border-radius: 0px;
    }
    .card_2{
        height: 500px;
        border-radius: 0px;
    }
    .cine {
        border-radius: 0px;
    }
    .card_3{
        border-radius: 0px;
    }
    .card_4{
        border-radius: 0px;
    }
    .content{
        margin: 10px 0px;
        padding: 0px;
    }
    
    .perfil p{
        margin: 30px;
        text-align: justify;
    }
    .perfilTexto p {       
            margin: 10px 20px;
            text-align: justify;        
        }
    .iframe{
        width: 90%;
        height: auto;
        margin: auto;
    }
    .iframe p{
        
        width: 100%;
    }
    .contenedorGr{
        display: flex;
        flex-direction: column;
    }
    ul{
        padding: 0px;
    }
    .btn-wp{
        width: 45px;
        height: 45px;
        bottom: 30px;
        right: 20px;
    }
    .form input {
        width: 360px;
    }
    section .form{
        width: 360px;
    }
    #mensaje{
        width: 360px;
    }
    #btnform{
        width: 360px;
    }
        
}

/*media queries para tablet*/

@media only screen and (min-width: 481px) and (max-width: 950px)  {
    header {
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;

        .logo_tipo {
            margin: 0px;
            justify-content: center;
        }
        .link_logo {
            margin: 0px;
            justify-content: center;

        }
        nav {
            margin: 0px;
            justify-content: center;
        }
    }
    .content {
        margin: 0px;
    }
    .padre {
        display: grid;
        grid-template-columns: minmax(0, auto) minmax(0, auto);
        grid-template-areas: "car1 car2" "car3 car3" "car4 car4";
    }
    .perfilTexto p {
        margin: 20px;
    }
    .iframe {
        width: auto;
        justify-content: center;
        p {
            width: 80%;
            text-align: justify;
        } 
    }
/*galería*/
    
    .contenedorGr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 10% 0 10%;
        padding: 10px;
        gap: 5px;
        margin-top: 5px;
        grid-area: "";
    }

/*formulario de contacto*/

   .form input {
        width: 360px;
    }
    section .form{
        width: 360px;
    }
    #mensaje{
        width: 360px;
    }
    #btnform{
        width: 360px;
    } 
}
