/* cards de grid index*/
.card_1{
    padding: 10px;
    background-color: $azulClaro;
    grid-area: car1;
    border-radius: 10px;
    a {
        color: #0D0D0D;
        text-decoration: none;
    }
}

.card_2{
    background-image: url(../medios/claqueta_card_2.jpg);
    grid-area: car2;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    a {
        color: #0D0D0D;
        text-decoration: none;  
    }
}

.cine{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}
.card_3{
    background-color: $azulClaro;
    grid-area: car3;
    padding: 10px;
    border-radius: 10px;
    a {
        color: #0D0D0D;
        text-decoration: none;
    }
}

.card_4{
    background-color: #c6c8c9;
    grid-area: car4;
    padding: 10px;
    border-radius: 10px;
    a {
        color: #0D0D0D;
        text-decoration: none;
    }
}