/* grids del index */
.contenedorGr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 10% 0 10%;
    padding: 10px;
    gap: 5px;
    margin-top: 5px;
    grid-area: 
    "";  
    div{
        justify-items: center;       
    }   
   
}