

/*formulario de ocntacto*/

.form input {
    display: block;
    width: 600px;
    margin: 10px 0px 10px;
    padding: 10px;
}

#mensaje {
    display: block;
    width: 600px;
    margin: 10px 0px 10px;
    padding: 10px;
}

#btnform {
    width: 600px;
    height: auto;
    display: inline;
    background-color: #4DB8FF;
    border: none;
    &:hover {
        background-color: #c6c8c9;
    }
}