.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        display: flex;
        flex-direction: row;
        justify-items: center;
        height: 300px;
        
    }
}